# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildpath
.cproject
.dart_tool/
.idea/
.project/
.pub-cache/
.pub/
.settings/
.vscode/

# Build and ephemeral files
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/macos/Flutter/ephemeral/
**/ios/Flutter/ephemeral/
